html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'inter-regular';
    src: local("inter-regular"),
    url("./assets/fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'inter-bold';
    src: local("inter-bold"),
    url("./assets/fonts/Inter-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'inter-extra-bold';
    src: local("inter-extra-bold"),
    url("./assets/fonts/Inter-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: 'inter-medium';
    src: local("inter-medium"),
    url("./assets/fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
    font-family: 'inter-extra-light';
    src: local("inter-extra-light"),
    url("./assets/fonts/Inter-ExtraLight.ttf") format("truetype");
}

:root {
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.3125rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 2.652rem;
    --font-size-4xl: 4rem;
}

body {
    margin: 0;
    font-family: 'inter-regular';
}
h1,
h2,
h3 {
    margin: 0;
}

.outer-container {
    display: flex;
    flex-direction: column;
}

.header-logo-section,
.header-section, 
.middle-section,
.quote-section,
.cta-section,
.footer-section {
    padding: 0 16px;
}

/* ------------------- header section */
.header-logo-section {
    display: flex;
    background-color: #1F2937;
    min-height: 4rem;
    border: #3882F6 1px solid;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
}

.header-section {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 5rem;
}

.header-content-img {
    max-width: 327px;
    max-height: 168px;
}

.header-content-heading {
    margin-top: 1.5rem;
    font-family: 'inter-extra-bold';
    font-size: 2.5rem;
}

.header-content-subtext {
    font-family: 'inter-medium';
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-justify: inter-word;
}

.header-content-button {
    display: flex;
    font-family: 'inter-bold';
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 0.75rem 2.625rem;
    max-width: 10rem;
    min-height: 3rem;
    border-radius: 16px;
}

.header-content-button:hover {
    background-color: #1f498d;
}

/* ------------------- end of header section */


/* ------------------- middle section */
.middle-section {
    margin-top: 2rem;
    

}

.middle-section-heading {
    font-family: 'inter-bold';
    font-size: 1.75rem;
}

.middle-section-grid {
    margin-top: 1rem;
    display: grid;
    gap: 2.25rem;
    padding: 0;
}

.middle-section-grid-element {
    max-width: 100%;
    height: fit-content;
}

.middle-section-grid-element-img {
    max-width: 100%;
    max-height: 21.438rem;
}

.middle-section-grid-element-subtext{
    color: #666666;
    font-family: 'inter-regular';
    font-size: 1rem;
    padding: 0 0.25rem;
    margin: 0;
    margin-top: 0.5rem;
    text-align: justify;
}

/* ------------------- end of middle section */

/* ------------------- quote section */
.quote-section {
    background-color: #E5E7EB;
    padding: 2.75rem 1rem;
    margin-top: 6.25rem;
}

.quote {
    margin: 0;
    font-family: 'inter-extra-light';
    color: #000000;
    font-size: 2.25rem;
    font-style: italic;
    margin-left: 4rem;
}

.quote-from {
    margin: 0;
    font-family: 'inter-medium';
    font-size: 1rem;
    margin-top: 1.25rem;
    margin-right: 4rem;
    text-align: right;
}
/* ------------------- end of quote section */


/* ------------------- cta section */



/* ------------------- end of cta section */

/* ------------------- footer section */


/* ------------------- end of footer section */