html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'inter-regular';
    src: local("inter-regular"),
    url("./assets/fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'inter-bold';
    src: local("inter-bold"),
    url("./assets/fonts/Inter-Bold.ttf") format("truetype");
}
@font-face {
    font-family: 'inter-extra-bold';
    src: local("inter-extra-bold"),
    url("./assets/fonts/Inter-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: 'inter-medium';
    src: local("inter-medium"),
    url("./assets/fonts/Inter-Medium.ttf") format("truetype");
}
@font-face {
    font-family: 'inter-extra-light';
    src: local("inter-extra-light"),
    url("./assets/fonts/Inter-ExtraLight.ttf") format("truetype");
}



body {
    margin: 0;
    font-family: 'inter-regular';
}
h1,
h2,
h3 {
    margin: 0;
}

.outer-container {
    display: flex;
    flex-direction: column;
}

.header-logo-section,
.header-section, 
.middle-section,
.quote-section,
.cta-section,
.footer-section,
.drop-down-menu {
    padding: 0 16px;
}

/* ------------------- header section */
.header-logo-section {
    display: flex;
    background-color: #1F2937;
    min-height: 4rem;
    border-bottom: #3882F6 1px solid;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
}
.menu-icon:hover {
    background-color: #808387;
    cursor: pointer;
}

.header-section {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-bottom: 5rem;
}

.header-content-img {
    max-width: 20.4375rem;
    min-height: 10.5rem;
}

.header-content-heading {
    margin-top: 1.5rem;
    font-family: 'inter-extra-bold';
    font-size: 2.5rem;
}

.header-content-subtext {
    font-family: 'inter-medium';
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-justify: inter-word;
}

.header-content-button {
    display: flex;
    font-family: 'inter-bold';
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 0.75rem 2.625rem;
    max-width: 10rem;
    min-height: 3rem;
    border-radius: 16px;
}

.header-content-button:hover {
    background-color: #1f498d;
}

/* ------------------- end of header section */

/* ------------------- drop down section */
#drop-down-menu {
    display: none;
    background-color: #1F2937;
    min-height: 15vh;
    border-bottom: 1px #3882F6 solid;
}

.drop-down-list {
    padding: 0 16px;
    list-style-type: none;
}

ul li a {
    color: #F9FAF8;
    font-family: 'inter-regular';
}
/* ------------------- end of drop down section */

/* ------------------- middle section */
.middle-section {
    margin-top: 2rem;
    

}

.middle-section-heading {
    font-family: 'inter-bold';
    font-size: 1.75rem;
}

.middle-section-grid {
    margin-top: 1rem;
    display: grid;
    gap: 2.25rem;
    padding: 0 ;
}

.middle-section-grid-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-section-grid-element-img {
    max-width: 100%;
    max-height: 21.438rem;
}

.middle-section-grid-element-subtext{
    color: #666666;
    font-family: 'inter-regular';
    font-size: 1rem;
    padding: 0 0.25rem;
    margin: 0;
    margin-top: 0.5rem;
    text-align: justify;
}

/* ------------------- end of middle section */

/* ------------------- quote section */
.quote-section {
    background-color: #E5E7EB;
    padding: 2.75rem 1rem;
    margin-top: 6.25rem;
}

.quote {
    margin: 0;
    font-family: 'inter-extra-light';
    color: #000000;
    font-size: 2.25rem;
    font-style: italic;
    margin-left: 4rem;
}

.quote-from {
    margin: 0;
    font-family: 'inter-medium';
    font-size: 1rem;
    margin-top: 1.25rem;
    margin-right: 4rem;
    text-align: right;
}
/* ------------------- end of quote section */



/* ------------------- cta section */
.cta-section {
    margin-top: 4rem;
    background-color: #3882F6;
    padding: 3rem 1rem;
    padding-bottom: 1.625rem;
    min-height: fit-content;
}

.cta-upper-text {
    color: #FFFFFF;
    font-family: 'inter-bold';
    font-size: 1.25rem;
    margin-bottom: 0.25rem;

}
.cta-lower-text {
    color: #FFFFFF;
    font-family: 'inter-regular';
    font-weight: 200;
    font-size: 1.25rem;
}

.cta-button {
    display: block;
    margin-top: 2rem;
    font-family: 'inter-regular';
    font-size: 1.25rem;
    color: white;
    background-color: #3882F6;
    border: 0.5px white solid;
    border-radius: 8px;
    padding: 0.5rem 0;
    width: 100%;
}

.cta-button:hover {
    background-color: #1f498d;
}

/* ------------------- end of cta section */


/* ------------------- footer section */
.footer-section {
    margin-top: 3rem;
    background-color: #1F2937;
    padding: 1.5rem 1rem;
}

.footer-text {
    font-family: 'inter-regular';
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
}

/* ------------------- end of footer section */

/* media queries */
/* xs */
@media (min-width: 475px) {}

/* sm */
@media (min-width: 640px) {
    .header-content-heading {
        font-size: 3rem;
    }
    .header-content-img {
        max-width: 32rem;
        min-height: 10.5rem;
    }
    .header-content-subtext {
        font-size: 1.5rem;
    }
    .header-content-button {
        font-size: 1.75;
    }

    .middle-section-heading {
        font-size: 2.25rem;
    }

    .middle-section-grid {
        padding: 2rem;
    }

    .middle-section-grid-element-img {
        max-width: 90%;
    }
}

/* md */
@media (min-width: 768px) {
    .header-content-img {
        max-width: 36rem;
        min-height: 10.5rem;
    }
    .header-logo-section,
    .header-section, 
    .middle-section,
    .quote-section,
    .cta-section,
    .footer-section,
    .drop-down-list  {
        
        padding: 48px 24px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .header-content-img {
        max-width: 40rem;
        min-height: 16rem;
    }
    .header-logo-section,
    .header-section, 
    .middle-section,
    .quote-section,
    .cta-section,
    .footer-section,
    .drop-down-list {
        padding: 48px 40px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .header-content-heading {
        font-size: 4.5rem;
    }
    .header-content-img {
        max-width: 64rem;
        min-height: 32rem;
    }
    .header-logo-section,
    .header-section, 
    .middle-section,
    .quote-section,
    .cta-section,
    .footer-section,
    .drop-down-list {
        padding: 48px 80px;
    }
}

/* 2xl */
@media (min-width: 1536px) {}  